In [1]:
import pandas as pd

base = pd.read_csv("/content/adult.data")
base

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [2]:
previsores = base.iloc[:,0:14].values
classe = base.iloc[:, 14].values

In [3]:
from sklearn .preprocessing import LabelEncoder 

label_previsores = LabelEncoder()
label_classe = LabelEncoder()

In [4]:
previsores[:, 1] = label_previsores.fit_transform(previsores[:, 1])
previsores[:, 3] = label_previsores.fit_transform(previsores[:, 3])
previsores[:, 5] = label_previsores.fit_transform(previsores[:, 5])
previsores[:, 6] = label_previsores.fit_transform(previsores[:, 6])
previsores[:, 7] = label_previsores.fit_transform(previsores[:, 7])
previsores[:, 8] = label_previsores.fit_transform(previsores[:, 8])
previsores[:, 9] = label_previsores.fit_transform(previsores[:, 9])
previsores[:, 13] = label_previsores.fit_transform(previsores[:, 13])

previsores

array([[50, 6, 83311, ..., 0, 13, 39],
       [38, 4, 215646, ..., 0, 40, 39],
       [53, 4, 234721, ..., 0, 40, 39],
       ...,
       [58, 4, 151910, ..., 0, 40, 39],
       [22, 4, 201490, ..., 0, 20, 39],
       [52, 5, 287927, ..., 0, 40, 39]], dtype=object)

In [5]:
classe = label_classe.fit_transform(classe)
classe

array([0, 0, 0, ..., 0, 0, 1])

In [6]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)
previsores

array([[ 0.83709708,  1.46388339, -1.0087417 , ..., -0.21666301,
        -2.22212013,  0.29157343],
       [-0.04264043,  0.09012148,  0.24504633, ..., -0.21666301,
        -0.03542999,  0.29157343],
       [ 1.05703146,  0.09012148,  0.42576955, ..., -0.21666301,
        -0.03542999,  0.29157343],
       ...,
       [ 1.42358875,  0.09012148, -0.3588108 , ..., -0.21666301,
        -0.03542999,  0.29157343],
       [-1.21562378,  0.09012148,  0.11092744, ..., -0.21666301,
        -1.65520046,  0.29157343],
       [ 0.98372   ,  0.77700244,  0.92986178, ..., -0.21666301,
        -0.03542999,  0.29157343]])

In [7]:
#treinamento e teste
from sklearn .model_selection import train_test_split

previsores_treinamento, previsores_teste, classe_treinamento, classe_teste = train_test_split(previsores, classe, test_size = 0.25, random_state = 0)

In [9]:
from sklearn.ensemble import RandomForestClassifier

classificador = RandomForestClassifier(n_estimators = 100)
classificador.fit(previsores_treinamento, classe_treinamento)
previsoes = classificador.predict(previsores_teste)

In [16]:
from sklearn.metrics import confusion_matrix, accuracy_score

acuracia = accuracy_score(classe_teste, previsoes)
matriz = confusion_matrix(classe_teste, previsoes)

In [17]:
acuracia

0.8546683046683047

In [15]:
matriz

array([[5765,  428],
       [ 755, 1192]])